@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fuggles&display=swap&family=Vast+Shadow&display=swap');
*{
    margin: 0;
    padding: 0;
    color: white;
}
html{
    scroll-behavior: smooth;
}
::selection{
    background-color: crimson;
    color: white;
}
::-webkit-scrollbar {
    width: 0px;
}


.home{
    height: 95vh;
    width: 100%;

}
.heroh1 {
	display: block;
	width: fit-content;
	font-size: 3rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
}
.heroh1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: crimson;
    animation: text_reveal_box 1s ease;
    animation-delay: 1s;
}
.hero {
    position: absolute;
    bottom: 30%;
    left: 25px;
	justify-content: flex-start;
}
.hero h1:nth-child(1) {
	animation-delay: 1s;
}
.hero h1:nth-child(2) {
	animation-delay: 2s;
}
.hero h1:nth-child(3) {
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 3s;
}
.hero h1:nth-child(1) span {
	animation-delay: 0.5s;
}
.hero h1:nth-child(2) span {
	animation-delay: 1.5s;
}
.hero h1:nth-child(3) span {
	animation-delay: 2.5s;
}
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal {
    100%{
        color: white;
    }
}
@keyframes text_reveal_name {
    100%{
        color: crimson;
    }
}



.list-group-item{
    background-color: transparent;
    border-color: gray;
}
label{
    margin-left: 10px;
}
.headings{
    font-size: 4rem;
    font-family: 'Vast Shadow', cursive;
    color: crimson;
}
.navbar-brand{
    font-family: 'Fuggles', cursive;
    font-size: 3rem;
    margin: -15px 0px;
}
.nav-link{
    font-size: x-large;
    margin-left: 15px;
}
.abouttext{
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
}