@import url('https://fonts.googleapis.com/css2?family=Fuggles&display=swap');

*{
    margin: 0;
    padding: 0;
    color: white;
}
::selection{
    background-color: white;
    color: black;
}
::-webkit-scrollbar {
    width: 0px;
}
html{
    scroll-behavior: smooth;
}
body{
    height: 100vh;
}
.navbar-brand{
    font-family: 'Fuggles', cursive;
    font-size: 3.5em;
    margin-top: -10px;
}
.tab-pane{
    height: 75vh;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: white;
    color: black;
    font-weight: 500;
}
.nav-link{
    color: white;
}
.nav-link:hover{
    color: gray;
}