@import url('https://fonts.googleapis.com/css2?family=Fuggles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
*{
    margin: 0;
    padding: 0;
    color: white;
}
::selection{
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 4px 16px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
    color: white;
}
::-webkit-scrollbar {
    width: 0px;
}
html{
    scroll-behavior: smooth;
}
body{
    height: 100vh;
}
.navbar-brand{
    font-family: 'Fuggles', cursive;
    font-size: 3.5em;
    margin-top: -10px;
}
.tab-pane{
    height: 75vh;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 4px 16px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
    color: white;
    font-weight: 500;
}
.nav-link{
    color: lightgray;
}
.nav-link:hover{
    color: white;
}
.hii{
    font-family: 'Corinthia', cursive;
    font-weight: 100;
    font-size: 3.5em;
}
.btn{
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 4px 16px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
    color: lightgrey;
    font-weight: 500;
}
.btn:hover{
    color: white;
}
.btn:focus, .btn:active:focus, .btn.active:focus{
    outline:none;
    box-shadow: 0 4px 16px 0 rgba( 31, 38, 135, 0.37 );
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white;
}